.button_secondary {
    background-color: var(--secondary);
}

.button_secondary:hover {
    background-color: var(--purple-1);
}

.button_secondary:active {
    background-color: var(--purple-1);
}

.button_secondary:disabled {
    background: var(--purple);
    opacity: 0.5;
    pointer-events: none;
}